<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1"/>
  <title>Weather app</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/coreStyles.css">
</head>

<body>
  {{>header}}
  <main>
    <h1>{{title}}</h1>
    <p>Use this cool website to get the weather in your location!</p>
    {{>searchForm}}
    <p id="msg-1"></p>
    <p id="msg-2"></p>
  </main>
  {{>footer}}
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>