{{>header}}
<h3>{{subtitle}}</h3>
<img src="/images/404.png" alt="a broken robot...">
<small>{{credit}} <a href="https://www.iconfinder.com/icons/3099459/2_face_robot_icon">Icofinder.com</a></small>
{{>footer}}