<h1>{{title}}</h1>
<h3>{{subtitle}}</h3>
<img src="/images/404.png" alt="a broken robot...">
<p>{{reason}} <a href="/">Homepage</a>?</p>
<small>{{credit}} <a href="https://www.iconfinder.com/icons/3099459/2_face_robot_icon">Icofinder.com</a></small>
{{>footer}}