<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1"/>
  <title>About us</title>
  <link rel="stylesheet" href="/css/coreStyles.css">
</head>
<body>
  {{>header}}
  <main>
    <h1>{{title}}</h1>
    <h3>{{subtitle}}</h3>
    <img src="/images/404.png" alt="a broken robot...">
    <small>{{credit}} <a href="https://www.iconfinder.com/icons/3099459/2_face_robot_icon">Icofinder.com</a></small>
  </main>
  {{>footer}}
</body>
</html>


