<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1"/>
  <title>About us</title>
  <link rel="stylesheet" href="/css/coreStyles.css">
</head>
<body>
{{>header}}
<p>{{texts.[0]}}</p>
<img src="/images/hardcore.png" alt="a very hard working man">
{{>footer}}
</body>
</html>