body{margin: 0; padding: 0;}
body{color: #333333;font-family: Arial, sans-serif;}
body{min-height: 100vh;}
body{display: flex; flex-direction: column; align-items: center;}

main {flex-grow: 1;}

header{padding-top: 1em;}
header a {text-decoration: none; color: #888888}
header a {padding: 0 1em; cursor: pointer;}
header a:hover{color: #333333; text-decoration: underline;}

footer{color: #888888;}
footer{margin-bottom: 1em;}

h1, h2, h3 {text-align: center;}
p, pre {margin-left: 1em;}